
.title {
  background: #FFA900;
  font-size: 50px;
  font-family: 'RightGrotesk';
  font-style: normal;
  font-weight: 900px;
  text-align: center;
  color: #FFA900;

  -webkit-text-stroke: 2px #FF4100;
  /* SHADOW */

  text-shadow: 3px 3px 0px #FF4100;

  position: absolute;
  left: 80px;
  top: 0px;

  width: 236px;
  height: 58px;
}

.closeButton {
  position: relative;
  left: 340px;
  color:white !important;
}


.mainTable {
    border: 0px;

    position: absolute;

    width: 400px;
    height: 150px;
    left: 0px;
    top: 110px;
    background: #FFA900;


  }

  .innerTable {
    --bs-table-bg: transparent;

  }

  .trItem {
    border: 0px;
    border-color: #FFA900;
    position: relative;
    gap: 100px;


  }

  .tdImage {
    position: relative;
    top: -40px;

  }

  .tdDesc {
    position: relative;
    left: -40px;
    top: -10px;
    font-family: 'RightGrotesk';
    font-style: normal;
  }

  .tdQuantity {
    position: relative;
    left: -40px;
    top: -10px;
  }

  .buttonAdd {
    width: 32px;
    height: 30px;
    background: white;
    color: black;
    border-color: transparent;
    line-height: 0px;
    box-sizing: border-box;
    margin: 10px;
    position: relative;

  }

  .buttonAdd:focus,
  .buttonAdd:active,
  .buttonAdd:hover {
    background: white !important;
    color:inherit;
    border: 0;
    text-decoration: none !important;

  }


  .buttonRemove {
    width: 32px;
    height: 30px;
    background: white;
    color: black;
    border-color: transparent;
    line-height: 0px;
    box-sizing: border-box;
    margin: 10px;
    position: relative;
  }

  .buttonRemove:focus,
  .buttonRemove:active,
  .buttonRemove:hover {
    background: white !important;
    color:inherit;
    border: 0;
  }

  .itemQuantity {
    position: absolute;
    top: 18px;
    left: 45px;
    background: white;
    width: 35px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.hr {
  height: 15px;
  margin-top: auto;
  color: #FF4100;
  position: relative;
  top: -60px;
  border-width: medium;
}

  .bottom {
    position: relative;
    left: 65px;
    top: -90px;
    border-color: transparent;
  }

  .total {
    background: #FFA900;
    font-size: 50px;
    font-family: 'RightGrotesk';
    font-weight: 900px;
    text-align: center;
    color: #FFA900;
    left: -17px;
    position: relative;
    width: 100px;



    -webkit-text-stroke: 2px #FF4100;
    /* SHADOW */

    text-shadow: 3px 3px 0px #FF4100;

  }

  .totalPrice {
    font-family: 'Nimbus Sans L';
    position: relative;
    font-size: 40px;
    font-weight: bold;


    left: 190px;
    top: -65px;
  }

  .checkOut {
    background-color: #ffa900;
    border-color: #ff4100;
    border-width: 1px;
    box-shadow: 2px 3px 0px #ff4100;

    color: #ff4100;

    font-family: 'Nimbus Sans L';
    font-style: normal;
    text-shadow: 0px;
    text-decoration: none;

    position: relative;
    top: -50px;
    left: 45px;
    width: 200px;

  }

  .checkOut:hover,
  .checkOut:active,
  .checkOut:visited,
  .checkOut:focus {
    border-color: #ff4100;
    color: #ff4100 !important;




  }
